*.DS_Store
a.out
.vscode/
relazione.aux
relazione.fdb_latexmk
relazione.fls
relazione.log
relazione.out
relazione.synctex.gz
visual.o
main.o
worldmain.o
sfml-app
_deps/
CMakeFiles/
MakeFile
CMakeCache.txt
CTestTestfile.cmake
cmake_install.cmake