*.DS_Store
.vscode/
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.o
sfml-app
_deps/
CMakeFiles/
MakeFile
CMakeCache.txt
CTestTestfile.cmake
cmake_install.cmake
cell_sfml
infection_tty
*.jpg
*.pyg
parte2/latex/_minted-parte2/